<svg
  width="45px"
  height="41px"
  viewBox="0 0 100 90"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <title>LogoMark Copy 2</title>
  <g id="LogoMark">
    <rect
      id="Rectangle"
      class="text-{{ settings:primary }}"
      fill="currentColor"
      x="0"
      y="0"
      width="100"
      height="90"
    ></rect>
    <g
      id="Group"
      stroke-width="1"
      transform="translate(16.750000, 14.000000)"
      class="text-{{ settings:body_bg }}"
      fill="currentColor"
    >
      <g
        id="Line"
        transform="translate(17.000000, 44.000000) rotate(-45.000000) translate(-17.000000, -44.000000) translate(-4.250000, 41.250000)"
      >
        <rect id="Rectangle" x="0" y="0" width="42.251462" height="8" rx="2.75"></rect>
      </g>
      <g
        id="Line"
        transform="translate(17.000000, 17.000000) rotate(45.000000) translate(-17.000000, -17.000000) translate(-4.250000, 14.250000)"
      >
        <rect id="Rectangle" x="0" y="0" width="42.251462" height="8" rx="2.75"></rect>
      </g>
    </g>
    <g id="Line" transform="translate(50.500000, 69.750000)">
      <rect
        id="Rectangle"
        class="text-{{ settings:body_bg }}"
        fill="currentColor"
        x="0"
        y="0"
        width="32.3099415"
        height="8"
        rx="2.75"
      ></rect>
    </g>
  </g>
</svg>
