<div class="relative py-16 overflow-hidden">
  {{ partial:articles/dots }}
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-3xl mx-auto mb-6">
      <h1
        class="mt-2 mb-12 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-100 sm:text-4xl sm:leading-10"
      >
        {{ title }}
      </h1>
      <div class="text-base text-center mb-12 pr-4 pl-16 -ml-16 text-gray-400">
        <!-- prettier-ignore -->
        Posted {{ if topics }} in {{ topics }}
        <a href="{{ url }}" class="text-primary uppercase hover:text-white">{{ title }}</a>
        {{ /topics }} {{ /if }} on {{ date format="M j, Y" }}
      </div>
    </div>
    <div class="prose mx-auto max-w-3xl">{{ content | widont }}</div>
  </div>
</div>
